name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted  # Runs on your self-hosted EC2 runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Docker tag
        run: echo "TAG=${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV
        # This will set the environment variable TAG to the GitHub Actions build number

      # Docker login to Docker Hub
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build Docker image from the app directory (which contains the Dockerfile)
      - name: Build Docker image
        run: |
          docker build -t gopiganeprak/task-tarcker:${{ env.TAG }} ./app
        # Tags the Docker image with the build number

      # Push Docker image to Docker Hub
      - name: Push Docker image
        run: |
          docker push gopiganeprak/task-tarcker:${{ env.TAG }}
        # Pushes the image with the tag based on the build number

      # Execute deploy script locally on the same machine
      - name: Execute deploy script
        run: |
          chmod +x ./deploy/deploy.sh
           sudo -E IMAGE_TAG=${{ env.TAG }} ./deploy/deploy.sh
        # Executes the deploy script using the specific image tag (build number)
